
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>AddExpense</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
     <link href="{{host}}/style.css" type="text/css" rel="stylesheet" />

    
		
    <style>
         body {
            background-image: url("https://wallpaperaccess.com/full/255999.jpg");
            /* Full height */
            height: 100%;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
         }
      </style>
	</head>
  
  
<body>
  
 
   <header>
    <div class="overlay">
      <h1>Add New Expense</h1>
       <a href="/secure">Back</a>  
    <br>
      </div>
  </header>
    
  
  
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
  
   
    
  
 
  
  
  
  <main>
    
            <form class = "formCenter" form action= "/secure/add-expenses" method = "post"  enctype = "multipart/form-data">

                    <input class = "tbox" type="date" name = "date" placeholder = "date" required>
                    <span class="validity"></span>
                    <input class = "tbox" type="text" name = "label" value = "" maxlength="20" placeholder = "Label" maxlength="20" required>
                    <span class="validity"></span>
             
                      <select name="category">
                      <option  value="Travel">Travel</option>
                      <option  value="FoodDrink">Food and Drink</option>
                      <option  value="Accomodation">Accomodation</option>
                      <option  value="Other">Other</option>
                      </select>

                    <input class = "tbox" type="text" name="descrip" value = "" placeholder = "Description" >

                    <input class = "tbox" type="number" step=".01" name="amount" value = "" min = 0 placeholder ="Amount" required>
                    <span class="validity"></span>
                    <input class = "tbox" type="file" name="avatar" accept="image/*">
                    <input class = "button" type="submit" value="Add">
               
              
              
            </form>
          
          
     
 
    
    
</main>
</body>
</html>