
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>sockets</title>
		<script type="module" src="main.js"></script>
	</head>
	<body>
		<header>
		<h1>Log In</h1>
		<a href="https://www.google.com">search</a>
		</header>

		<main>
    
		</main>
	</body>
</html>
