{{!-- <html>
<head>
    <title>Client</title>
</head>
<body>
    <img src="">
		<p>hr</p>
    <script>
		//console.log("keyowrd");
       // const img = document.querySelector("img");
		//const pa = document.querySelector("p");
       // const WS_URL = "ws:localhost:3001";
       // const ws = new WebSocket(WS_URL);
        //ws.onopen = function() {
					//	console.log(`Connected to ${WS_URL}`)
				}; 
        //ws.onmessage = function(message){
						//img.src = message.data\
        //};
    </script>\
</body>\ --}}
</html>
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div>
            <h1>Stream Webcam</h1>
            <video autoplay id="sourcevid"></video>
            <canvas id="output"></canvas>
            <div id="log"></div>
            <button id="pic_btn">Take Pic</button>
        </div>
        
        <script type="text/javascript" src="client_js/transmissor.js"></script>
    </body>
</html>


